// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// 1rem = 10px; 10px/16px = 62.5% = 1rem
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    // min-content and auto are the same: just fit all content
    display: grid;
    // height is relative to vh (shrinks when vertical resize) function of vh
    // width is relative to vw (shrinks when horizontal resize) function of vw
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    // 1140px / 8 columns = 142.5px -> 14rem;
    // 1 column sidebar (8rem) 1fr for bleed on either side, 8 column center for the page
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
}

.heading-2 {
    @extend %heading;
}

.heading-3 {
    @extend %heading;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }
}

.sidebar {
    background-color: $color-primary;
    // spans full sidebar and goes from top to bottom of page
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.header {
    background-color: $color-grey-light-1;
    grid-column: full-start / col-end 6;
}

.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
}

.features {

    display: grid;
    // content is min size -> size of logo, rest takes up space
    grid-template-columns: min-content 1fr;
    // don't need to specify rows: size of content
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    // Width of each track should fit between 250px and 1 fractional unit
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    &__icon {
        fill: $color-primary;
        width: 4.5rem;  // 45px;
        // - 1 only works with explicit grid, which we don't have because we didn't declare any rows
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}

.story {

    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;
    }
}

.homes {
    background-color: $color-secondary;
    grid-column: center-start / center-end;
}

.gallery {
    background-color: $color-grey-light-2;
    grid-column: full-start / full-end;
}

.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
}
